---
---
{% include css/bootstrap.css %}
{% include css/font-awesome.css %}

body {
  line-height: 28px;
}
p {
  margin: 0;
}

p + p {
  text-indent: 28px;
}

li {
  line-height: 28px;
}

h1,h2,h3,h4,h5,h6 { margin: 28px 0; line-height: 28px; }
h1,h2,h3 { line-height: 56px; }
h1 { font-size: 45px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4,h5,h6 { font-size 17px; }

hr {
  margin: 28px 0;
}

dt, dd {
  line-height: 19px;
  margin-top: 19px;
}
dd + dd { margin-top: 0; }

h1.page-header {
  padding: 0;
  margin: 28px 0;
}

section.content {
  font-size: 17px;
}

section.content p {
  font-family: "Georgia";
}

.text-info, .text-info a {
  color: rgb(250, 127, 0);
}

.lead {
  margin-bottom: 28px;
  font-size: 22px;
  line-height: 28px;
}

code {
  color: rgb(250, 127, 0);
  font-size: 14px;
  border: none;
  border-radius: 0;
}

pre {
  padding: 14px;
  margin: 28px;
}

pre, pre code {
  font-size: 14px;
  border: none;
  border-radius: 0;
}

.gist {
  font-size: 14px;
  line-height: 18px;
  margin: 28px;
}

hr.abstract {
  margin: 0 0 26px 0;
}

a, a:hover {
  color: #636363;
  text-decoration: underline;
}

.well {
  border: none;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.05);
  padding: 28px;
  margin-bottom: 28px;
}

.well .desc {
  text-decoration: none;
}

.hero-unit {
  border-radius: 0;
}

.navbar { margin: 28px 0; }
.navbar-inner {
  background: #f5f5f5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 -1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border: none;
}

.navbar .nav {
  box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.05);
}

.navbar .nav>li>a {
  color: #636363;
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.05);
  padding: 7px 14px;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
  color: #636363;
}

.navbar .brand {
  padding-bottom: 0;
}

#expanded:target .nav-collapse {
  height: auto;
}

.navbar .btn-contract {
  display: none;
}
#expanded:target .btn-contract {
  display: block;
}

#expanded:target .btn-expand {
  display: none;
}

#main-panel {
  background: url(/img/header.jpg);
  background-position: top right;
  background-size: cover;
  padding: 89px 28px 60px;
  height: 238px;
  margin: 28px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-panel p {
  color: #ccc;
  font-size: 14px;
}

.logo {
  margin-bottom: 10px;
  position: relative;
  left: -3px;
}

.homebox a { text-decoration: none; }
.homebox .lead { text-decoration: underline; margin: 0; }
.homebox .desc { color: #000; line-height: 19px; margin: 19px 0 0; }
.title-info { display: inline-block; }

.team-member { margin-bottom: 28px; }
.team-member a { text-decoration: none; }
.team-member .lead { text-decoration: underline; }

.media h3 { margin: 0; }
.media p.abstract { line-height: 19px; }
.media p.muted { text-indent: 0; }
.thumb {
  max-width: 170px;
  max-height: 170px;
  margin-right: 20px;
}

.slides iframe {
  width: 100%;
  min-height: 600px;
}

.post-list { position: relative; margin-bottom: 28px; }
.post-list i { position: absolute; left: -46px; top: 12px; }

.post-row { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee; }
.post-row:last-child { border: none; margin-bottom: 0; padding-bottom: 0; }

footer { margin-bottom: 20px; }
footer a.text-info { text-decoration: none; }
footer p + p { text-indent: 0; }

.project {
  position: relative;
  padding-bottom: 28px;
  min-height: 168px;
}
.project h3 {
  line-height: 28px;
  margin: 0;
}
.project p {
  margin: 19px 0;
  line-height: 19px;
}
.project .btn-group {
  position: absolute;
  left: 28px;
  bottom: 28px;
}
.project .btn-group a {
  text-decoration: none;
}

@media (max-width: 767px) {
  #main-panel {
    background: #747474;
    color: #fff;
    padding: 28px;
    height: auto;
  }
  #main-panel h1 { font-size: 40px; }

  .post-row { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
  .post-row .media { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #eee; }
}

footer {
  color: #999;
}

