---
---
{% include css/bootstrap.css %}
{% include css/font-awesome.css %}

a:hover { text-decoration: none; }

#main-panel {
  background: url(/img/header.jpg);
  padding: 147px 20px 60px;
  height: 238px;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #main-panel h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
#main-panel p {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}
.navbar { margin: 30px 0; }

.homebox .desc { color: #000; }
.title-info { display: inline-block; }

.team-member { margin-bottom: 30px; }

.media .pull-left img { max-width: 120px; }
.media>.pull-left { margin-right: 20px; }
.media h3 { margin-top: 0; }

.slides iframe.thumbnail { width: 100%; min-height: 320px; }

.post-list { position: relative; }
.post-list i { position: absolute; left: -40px; top: 5px; }

.post-row { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee; }
.post-row:last-child { border: none; margin-bottom: 0; padding-bottom: 0; }

footer { margin-bottom: 20px; }

.project {
  position: relative;
  padding-bottom: 60px;
  min-height: 130px;
}
.project h3 { margin: 0; }
.project .btn-group {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media (max-width: 767px) {
  #main-panel {
    background: #42607a;
    padding: 30px;
  }
  #main-panel h1 { font-size: 40px; }

  .post-row { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
  .post-row .media { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #eee; }
}
