---
layout: category
title: Projects
is_top_nav: true
icon: desktop
abstract: "We believe in open source: see our contributions, download our code, tell us what you&nbsp;think."
order: 3
---
<div class="row">
  {% for page in site.pages %}
    {% if page.layout == "project" %}

      <div class="span4">
        <div class="well project">
          {% case page.type %}
            {% when 'released' %}
              <span class="label label-success pull-right">Released</span>
            {% when 'contributed' %}
              <span class="label label-info pull-right">Contributed</span>
          {% endcase %}
          <h3>
            <a href="{% if page.href %}{{ page.href }}{% else %}{{ page.url }}{% endif %}">{{ page.title }}</a>
          </h3>
          <p>{{ page.abstract }}</p>
          <div class="btn-group">
            {% if page.home %}
              <a class="btn" href="{{ page.home }}"><i class="icon-home"></i> Home</a>
            {% endif %}
            {% if page.code %}
              <a class="btn" href="{{ page.code }}"><i class="icon-code"></i> Code</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
