---
layout: category
title: Projects
is_top_nav: true
icon: desktop
abstract: "We believe in open source: see our contributions, download our code, tell us what you think."
---
<div class="row">
  {% for page in site.pages %}
    {% if page.layout == "project" %}

      <div class="span4">
        <div class="well project">
          <h3>
            <a href="{% if page.href %}{{ page.href }}{% else %}{{ page.url }}{% endif %}">
              {{ page.title }}
            </a>
          </h3>
          <p>{{ page.abstract }}</p>
          <div class="btn-group">
            {% if page.home %}
              <a class="btn" href="{{ page.home }}"><i class="icon-globe"></i> Home</a>
            {% endif %}
            {% if page.code %}
              <a class="btn" href="{{ page.code }}"><i class="icon-cogs"></i> Code</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
