---
layout: empty
---
<div class="container">
  <div class="hero-unit" id="main-panel">
    <h1>Semantico Labs</h1>
    <p>Thoughts, experiments and code from XYZ</p>
    <p></p>
  </div>
  <div class="row">
    {% for page in site.pages %}
      {% if page.is_top_nav %}
        <div class="span3">
          <a href="{{ page.url }}">
            <div class="well homebox">
              <i class="icon-{{ page.icon }} icon-2x pull-right"></i>
              <p class="lead">{{ page.title }}</p>
              <p class="desc">{{ page.abstract }}</p>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Latest from Semantico Labs</h2>
    {% for page in site.posts limit:5 %}
      {% cycle 'latestrows1': '<div class="row">', '' %}

      <div class="span6">
        {% include post_item.html %}
      </div>
      {% cycle 'latestrows2': '', '</div><hr/>' %}
      {% if forloop.last %}
        {% capture 'odd' %}{{ forloop.length | modulo:2 }}{% endcapture %}
        {% if odd == '1' %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
