---
layout: empty
---
<div class="container">
  <div class="hero-unit" id="main-panel">
    <img src="/img/logo.png" class="logo" alt="Semantico Labs" height="41" width="355" />
    <p>Thoughts, experiments, and code from Semantico's R&amp;D department</p>
  </div>
  <div class="row">
    {% for n in (1..4) %}
      {% for page in site.pages %}
        {% if page.is_top_nav %}
          {% if page.order == n %}
            <div class="span3">
              <a href="{{ page.url }}">
                <div class="well homebox">
                  <i class="icon-{{ page.icon }} icon-2x pull-right"></i>
                  <p class="lead">{{ page.title }}</p>
                  <p class="desc">{{ page.abstract }}</p>
                </div>
              </a>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <section class="latest">
    {% for page in site.posts limit:10 %}
      {% cycle 'latestrows1': '<div class="post-row"><div class="row">', '' %}

      <div class="span6">
        {% include post_item.html %}
      </div>
      {% cycle 'latestrows2': '', '</div></div>' %}
      {% if forloop.last %}
        {% capture 'odd' %}{{ forloop.length | modulo:2 }}{% endcapture %}
        {% if odd == '1' %}
          </div></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>
</div>
