---
layout: content
title: The Team
is_top_nav: true
icon: group
abstract: Meet the crack team of code-monkeys who power the intertubes at Semantico Towers.
order: 4
---
<h1 class="page-header">{{ page.title }}</h1>
<div class="row">
  {% for page in site.pages %}
    {% if page.layout == "team" %}
      <div class="span4 team-member">
        <a href="{{ page.url }}" class="media">
            <img src="{{ page.img }}" class="pull-left" />
            <p class="media-body">
              <span class="lead">{{ page.title }}</span><br/>
              {{ page.job }}
            </p>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

