      <hr/>
      <div class="container">
        <div class="row">
          <footer class="span8 offset2">
            <p>Semantico is an innovative and market-leading digital publishing solutions
            company focused on helping publishers protect and grow the value of their
            content assets online.</p>
            <p>We're always looking for smart people to join our team.
            <a href="mailto:info@semantico.com">Get in touch</a>.</p>
            <small class="muted">&copy; 2013 Semantico Ltd. All Rights Reserved. Content is licensed <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">CC-BY-SA</a>.</small>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
