<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}Semantico Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="alternate" type="application/atom+xml" title="Semantico Labs Atom feed" href="/atom.xml" />
    <link href="/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
  </head>

  <body>
