<article class="media">
  {% if page.thumb %}
    <a href="{{ page.url }}" class="pull-left">
      <img src="{{ page.thumb }}" class="thumb"/>
    </a>
  {% endif %}

  <div class="media-body">
    <h3>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h3>
    {% if page.abstract %}
      <p>{{ page.abstract }}</p>
    {% endif %}
    {% if page.layout == 'talk' %}
      <p>{{ page.content }}</p>
    {% endif %}
    <small class="muted">
      {% if page.author %}
          {% capture authortext %}{% include authors.html %}{% endcapture %}
          {{ authortext | strip_newlines }},
      {% endif %}
      {{ page.date | date_to_long_string }}
    </small>
  </div>
</article>
