---
layout: content
---

<h1 class="page-header">{{ page.title }}</h1>

{% if page.abstract %}
  <section class="abstract lead">
    {{ page.abstract }}
  </section>
{% endif %}

<p class="muted">
  {% if page.author %}
    {% include authors.html %}
  {% endif %}
  {{ page.date | date_to_long_string }}

  <br />

  This is an article from <a href="/">Semantico&nbsp;Labs</a>,
  the R&amp;D department of the <a href="http://semantico.com">digital&nbsp;publishing&nbsp;solutions&nbsp;company</a>.
</p>

<hr class="abstract" />

<section class="content">
  {{ content }}
</section>
