---
layout: empty
---
<div class="container" id="expanded">
  <div class="row">
    <div class="span8 offset2">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar btn-expand" href="#expanded">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="btn btn-navbar btn-contract" href="#">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Semantico Labs</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                {% for n in (1..4) %}
                  {% for page in site.pages %}
                    {% if page.is_top_nav %}
                      {% if page.order == n %}
                        <li><a href="{{ page.url }}"><i class="icon-{{ page.icon }}"></i> {{ page.title }}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {{ content }}

    </div>
  </div>
</div>
